/**
 * CSS styles for the graphs of the team panel
 * 
 * @author Jason Patrick Duffy
 */

.graphContainer{
    display: flex;
    flex-direction: row;
}

.otherContainer{
    width: 100%;
    text-align: center;
}