<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Bonus-Benachrichtigung</title>

    <style>
        :root {
            padding: 0;
            margin: 0;
            width: 100%;
            font-weight: 400;
            font-family: 'Segoe UI', sans-serif;
            font-size: 14px;
        }

        li{
            list-style: none;
        }

        .centerContent {
            text-align: center;
        }

        .bonusHeader {
            font-weight: 600;
        }

        .bonusDescription {
            font-weight: 300;
        }
    </style>
</head>

<body>
    <div>
        <h1 class="bonusHeader centerContent">
            Der Bonus <a th:text="${bonusName}">BonusName</a> wurde der Challenge <a th:text="${challengeName}">
                ChallengeName</a> hinzugefügt!
        </h1>
        <h2 th:text="${description}" class="bonusDescription centerContent">Description</h2>
        <div>
            <ul>
                <li>
                    <p>Beginn: <a th:text="${startTime}">StartTime</a> Uhr</p>
                </li>
                <li>
                    <p>Ende: <a th:text="${endTime}">EndTime</a> Uhr</p>
                </li>
                <li>
                    <p>Sportarten: <a th:text="${sports}">Sport</a></p>
                </li>
                <li>
                    <p>Bonusfaktor: <a th:text="${factor}">Factor</a></p>
                </li>
            </ul>
        </div>

    </div>
</body>

</html>