.preview_image_container > img{
    object-fit: cover;
}

.scp_image_input{
    width: 350px;
    color: var(--doubleslash-text-grey);
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.scp_image_input::file-selector-button{
    display: inline-block;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    padding: 0.5rem 1rem;
    margin-right: 10px;
    border-radius: 5px;
    transition: .25s color ease-in-out;
    transition: .25s background-color ease-in-out;
    background-color: var(--doubleslash-blue);
    outline: solid 2px var(--doubleslash-blue);
    outline-offset: -2px;
}

.scp_image_input:hover::file-selector-button{
    background-color: white;
    color: var(--doubleslash-blue);
}