.scp_button{
    border: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 1rem 2rem;
    border-radius: 5px;
    transition: .25s color ease-in-out;
    transition: .25s background-color ease-in-out;
}

.scp_button:hover{
    cursor: pointer;
}

.button_white{
    background-color: rgba(0, 0, 0, 0);
    outline: solid 2px white;
    outline-offset: -2px;
}

.button_orange{
    background-color: var(--doubleslash-orange);
    outline: solid 2px var(--doubleslash-orange);
    outline-offset: -2px;
}

.button_blue{
    background-color: var(--doubleslash-blue);
    outline: solid 2px var(--doubleslash-blue);
    outline-offset: -2px;
}

.button_white:hover{
    background-color: white;
    color: var(--doubleslash-text-grey);
}

.button_orange:hover{
    background-color: white;
    color: var(--doubleslash-orange);
}

.button_blue:hover{
    background-color: white;
    color: var(--doubleslash-blue);
}