@mixin mg-pd-classes {
    @for $i from 0 through 10 {
        $size: $i * 1rem;
        /* margin #{$size} */
        .mg_#{$i}  {margin: $size;}
        .mg_l_#{$i} {margin-left: $size;}
        .mg_r_#{$i} {margin-right: $size;}
        .mg_t_#{$i} {margin-top: $size;}
        .mg_b_#{$i} {margin-bottom: $size;}
        .mg_x_#{$i} {margin-left: $size; margin-right: $size;}
        .mg_y_#{$i} {margin-top: $size; margin-bottom: $size;}

        /* padding #{$size} */
        .pd_#{$i}  {padding: $size;}
        .pd_l_#{$i} {padding-left: $size;}
        .pd_r_#{$i} {padding-right: $size;}
        .pd_t_#{$i} {padding-top: $size;}
        .pd_b_#{$i} {padding-bottom: $size;}
        .pd_x_#{$i} {padding-left: $size; padding-right: $size;}
        .pd_y_#{$i} {padding-top: $size; padding-bottom: $size;}
    }
}
@include mg-pd-classes;

@mixin wd-classes {
    @for $i from 1 through 20 {
        $size: $i * 5%;
        $sizeName: $i * 5;
        .width_#{$sizeName}  {width: $size;}
    }
}
@include wd-classes;

*{
    margin: 0;
    padding: 0;
}

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    scroll-behavior: smooth;
    background-color: #fff;
    font-weight: 400;
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    color: var(--doubleslash-text-grey);
}

html {
    --doubleslash-blue: #00A5E1;
    --doubleslash-lightblue: #D7E9F4;
    --doubleslash-orange: #ff9f00;
    --doubleslash-text-grey: #7A7A7A;
    --doubleslash-text-white: #ffffff;
    --doubleslash-darkgrey: #515151;
    --doubleslash-lightgrey: #C6C6C6;
    --doubleslash-accent-darkblue: #32547B;
    --doubleslash-accent-green: #B9D478;
    --doubleslash-accent-brown: #8B593E;
    --doubleslash-accent-red: #C63328;
}

a{
    cursor: pointer;
    text-decoration: none;
    color: var(--doubleslash-text-grey);
    transition: color .15s ease;
}

a:hover{
    color: var(--doubleslash-orange);
}

.center_content{
    display: flex;
    justify-content: center;
}

.visible{
    visibility: visible !important;
}

.background_white{
    background-color: #fff;
}

.background_lightblue{
    background-color: var(--doubleslash-lightblue);
}

.section_container{
    max-width: 88em;
    margin: 0 auto;
    padding: 0 2rem;
}

.section_content{
    padding: 6rem 0;
}

.heading_underline_center{
    text-align: center;
}

.underline_center{
    font-size: 50px;
    text-align: center;
    font-weight: 700;
    margin: 0 auto;
    padding: 0;
    position: relative;
}

.underline_center:after {
    content: "____";
    font-size: 100px;
    letter-spacing: -2px;
    font-family: "Segoe UI",sans-serif;
    color: var(--doubleslash-orange);
    display: block;
    line-height: .01em;
    margin-top: -40px;
}

input[type="text"]{
    border: 0;
    border-bottom: 2px var(--doubleslash-text-grey) solid;
    color: var(--doubleslash-text-grey);
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    font-weight: bold;
    background-color: var(--doubleslash-lightblue);
}

input[type="text"]:focus{
    outline: 0;
}

input[type="file"]{
    width: 350px;
    color: var(--doubleslash-text-grey);
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

input[type="file"]::file-selector-button{
    display: inline-block;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    padding: 0.5rem 1rem;
    margin-right: 10px;
    border-radius: 5px;
    transition: .25s color ease-in-out;
    transition: .25s background-color ease-in-out;
    background-color: var(--doubleslash-blue);
    outline: solid 2px var(--doubleslash-blue);
    outline-offset: -2px;
}

input[type="file"]:hover::file-selector-button{
    background-color: white;
    color: var(--doubleslash-blue);
}

input[type="number"]{
    border: 0;
    border-bottom: 2px var(--doubleslash-text-grey) solid;
    color: var(--doubleslash-text-grey);
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    font-weight: bold;
    background-color: var(--doubleslash-lightblue);
}

input[type="number"]:focus{
    outline: 0;
}