@mixin mg-pd-classes {
    @for $i from 0 through 10 {
        $size: $i * 1rem;
        /* margin #{$size} */
        .mg_#{$i}  {margin: $size;}
        .mg_l_#{$i} {margin-left: $size;}
        .mg_r_#{$i} {margin-right: $size;}
        .mg_t_#{$i} {margin-top: $size;}
        .mg_b_#{$i} {margin-bottom: $size;}
        .mg_x_#{$i} {margin-left: $size; margin-right: $size;}
        .mg_y_#{$i} {margin-top: $size; margin-bottom: $size;}

        /* padding #{$size} */
        .pd_#{$i}  {padding: $size;}
        .pd_l_#{$i} {padding-left: $size;}
        .pd_r_#{$i} {padding-right: $size;}
        .pd_t_#{$i} {padding-top: $size;}
        .pd_b_#{$i} {padding-bottom: $size;}
        .pd_x_#{$i} {padding-left: $size; padding-right: $size;}
        .pd_y_#{$i} {padding-top: $size; padding-bottom: $size;}
    }
}
@include mg-pd-classes;

@mixin wd-classes {
    @for $i from 1 through 20 {
        $size: $i * 5%;
        $sizeName: $i * 5;
        .width_#{$sizeName}  {width: $size;}
    }
}
@include wd-classes;

*{
    margin: 0;
    padding: 0;
}

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    scroll-behavior: smooth;
    background-color: #fff;
    font-weight: 400;
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    color: var(--doubleslash-text-grey);
}

html {
    --doubleslash-blue: #00A5E1;
    --doubleslash-lightblue: #D7E9F4;
    --doubleslash-orange: #ff9f00;
    --doubleslash-text-grey: #7A7A7A;
    --doubleslash-text-white: #ffffff;
    --doubleslash-darkgrey: #515151;
    --doubleslash-lightgrey: #C6C6C6;
    --doubleslash-accent-darkblue: #32547B;
    --doubleslash-accent-green: #B9D478;
    --doubleslash-accent-brown: #8B593E;
    --doubleslash-accent-red: #C63328;
}

.center_content{
    display: flex;
    justify-content: center;
}