/**
 * CSS styles for Userprofile
 * 
 * @author Jason Patrick Duffy, Robin Hackh
 */

/**
*   Rounds image and scales it down
*/
.round_image {
    border-radius: 100%;
    width: 40vw;
    max-width: 300px;
    aspect-ratio: 1;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.checkbox {
    display: flex;
    gap: 5px;

    color: var(--doubleslash-text-grey);
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    font-weight: bold;
}