#form_info_container, .form_info_container{
    display: none;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

#form_info_message > a, .form_info_message > a{
    color: #467834;
    text-decoration: underline;
}

.error{
    display: block !important;
    background-color: #ffeeee;
    color: #d2253b;
    border: 1px solid #d2253b;
}

.success{
    display: block !important;
    background-color: #e7ffe7;
    color: #64ac4a;
    border: 1px solid #64ac4a;
}